.navbar{
margin-bottom:0px!important;
}
#help{
height:150px;
margin-bottom:10px;
}
#bar{
width:80%;
}
#lock{
padding-top:200px;
width:10%;
}
#after{
height:500px;
background-color:gray;
}
.sec{
float:left;
width:30%;
}
 img{
 padding:5%;
 }
 p{
 font-size:20px;
 line-height:30px;
 font-weight:bold;
 }
 #help{
 

 width:100%;

padding:2%;

 }
 
 #paybutton{
 opacity:0.5;
 
 }
#paybutton:hover{
 opacity:1.0;
 }
 p#honey{
 }
 #main{
padding:5%;
 width:80%;
 text-align:center;
 margin:auto;
 margin-bottom:0;
 margin-top:0;
  background-color: white;
 }
 .container{
 
 padding:0;
 text-align:center !important;
 }
 
 body{
 padding-top:0px;
 padding-bottom:0px;
 background-color: #F9E000;
 }
   
 h1{
 line-height:50px;
 }